Django==6.0.3
djangorestframework==3.17.1
django-cors-headers==4.9.0
drf-spectacular==0.29.0
psycopg[binary]==3.2.*
python-decouple==3.8
gunicorn==23.0.0
celery==5.5.3
redis==6.4.0
requests==2.32.3

# desenvolvimento
pytest==8.*
pytest-django==4.*
pytest-env==1.*
